<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <span>
      I’m a recent <strong>Accounting graduate</strong> from Jenderal Soedirman University with a strong interest in how financial data reflects real-world conditions and how <span style="background-color: #f9ca24; padding: 5px;">auditing</span> contribute to transparency and accountability. During my internship at one of reputable audit firm, I performed audit procedures, prepared working papers, and assisted senior auditors in various engagements.
    </p>
    
    <p>
      Driven by curiosity and a desire to grow, I joined student competitions and received funding through the P2MW program by the Ministry of Education. To broaden my practical knowledge, I also interned at a tax and consulting firm while completing my thesis, gaining deeper insight into business and taxation.
    </p>
    
    <p>
      To support my development, I completed <span style="background-color: #f9ca24; padding: 5px;">Brevet A & B and CAFB certifications</span>. Outside academics, I volunteer as a BIPA Assistant, helping international students learn Bahasa Indonesia and adapt to local culture. I value continuous learning, integrity, and adaptability in every step of my journey.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
