<section class="section skills">
    <div class="section__title">Certification</div>
    <div class="section__content">
      <div class="skillz">
        <div class="skillz__category">
            <div class="skillz__category__label"></div>
            <ul>
              {% for certification in site.data.skills.certification %}
              <li class="skillz__category__item">{{certification.item}}</li>
              {% endfor %}
            </ul>
          </div>
      </div>
    </div>
  </section>
  