<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Rahma Izzatun Nisa</span>, a driven Accounting graduate with audit experience, skilled in Ms.Excel. 
    I strive for accuracy through detail, while upholding the highest standards of professionalism and ethics.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:rahmaiztn01@gmail.com" target="_blank" class="highlight-link">rahmaiztn01@gmail.com</a>
    </span>
  </h3>
</header>
